<h1><%= t('static_pages.about.about_text') %></h1>
<p><%= t('.about_text_2') %></p>
<p><%= t('.about_text_3') %></p>
<ul>
  <li><%= link_to t('.about_us'), "#" %></li>
  <li><%= link_to t('.gallery'), "#" %></li>
  <li><%= link_to t('.sign_up'), "#" %></li>
</ul>
