<h1 class="title"><%= t('.title')%></h1>
<p class="sub-title"><%= t('.sub_title')%></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t('.figcaption')%></figcaption>
</figure>


<p class="credits"><%= t('.credits')%><span class="float-right">Oct. 20, 2014 | 12:04 p.m. EDT</span></p>
<article>
  <p><%= t('.article_p1')%></p>

  <p><%= t('.article_p2')%></p>

  <p><%= t('.article_p3')%></p>

  <h3><%= t('sub_header')%></h3>

  <p><%= t('.article_p4')%></p>

  <p><%= t('.article_p5')%></p>

  <p><%= t('.article_p6')%></p>
</article>